[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "solmate/=lib/solmate/src/",
    "forge-std/=lib/forge-std/src/",
    "ds-test/=lib/solmate/lib/ds-test/src/"
]
fs_permissions = [{ access = "read", path = "./" }]
